@model MvcTatilSeyahat.Models.Sınıflar.Blog

@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("YeniBlog", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<form class="form-group" method="post">
    @Html.Label("BAŞLIK")
    @Html.TextBoxFor(x => x.BASLIK, new { @class = "form-control" })
    <br />
    @Html.Label("TARİH")
    @Html.TextBoxFor(x => x.TARIH, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.TARIH, new { @class = "form-control" })
    <input type="file" name="BLOGIMAGE" />
    <br />
    <br />
    @Html.Label("BLOG YAZISI")
    @Html.TextAreaFor(x => x.ACIKLAMA, new { @class = "form-control", @style = "height:150px" })
    <br />
    <button class="btn btn-primary">Blog Ekle</button>
</form>
}
